.ui.card.add-task-card {
  width: 100%;
  padding: 10px;
  .ui.grid {
    width: 100%;
    .ui.action.input {
      width: 100%;
    }
    h3.duration-display {
      text-align: center;
      margin-top: 8px;
      animation-duration: 2s;
      animation-delay: 0.5s;
    }
  }
  h3.empty-message {
    text-align: center;
  }
  .ui.button {
    min-width: 80px;
    width: 100%;
  }
}
